/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .fondo {
  background-image: url(./assets/img/mundo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
} */
