/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #010066;
}
.monto {
  left: calc(50% - 30px);
}
.solicitante {
  left: calc(50% - 47.5px);
}
.beneficiario {
  left: calc(50% - 50.68px);
}

/* .des {
  height: calc(100% - 33px);
} */

.barSide {
  height: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.barSide2 {
  height: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.h-modal {
  height: 100vh;
}
.right {
  right: -160px;
}
@media screen and (max-width: 920px) {
  .barSide {
    position: absolute;
    top: 0;
    left: -300px;
  }
  .barSide2 {
    position: absolute;
    top: 0;
    left: 0px;
  }
  .right {
    right: 0px;
  }
}

#accordion {
  background: #000;
}
.react-datepicker__close-icon {
  right: -30px !important;
}
